.App {
   overflow-x: hidden;
}

.header {
   padding: 20px 70px 40px 50px;
   border-bottom: 1px #999999 solid;
}

.header-link {
   font-family: 'Space Mono', monospace;
   color: black;
   text-decoration: none;
   letter-spacing: 2px;
   font-weight: normal;
   line-height: 25px;
   font-size: 16px;
}

.header-link:hover {
   color: black;
   text-decoration: none;
   border-bottom: 1px black solid;
}

.short-bio {
   font-family: 'Space Mono', monospace;
   font-weight: normal;
   font-size: 16px;
   color: black;
   padding-right: 100px;
   line-height: 25px;
}

.short-bio-container {

}

.short-bio-link {
   font-family: 'Space Mono', monospace;
   color: black;
   text-decoration: none;
   border-bottom: 1px black solid;
   letter-spacing: 2px;
}

.short-bio-link:hover {
   color: black;
   text-decoration: none;
}

.navigation-link{
   margin-left: 35px;
}

.table-link{
   color: black;
}

.table-link:hover{
   color: black;
   text-decoration: none !important;
}

.archive-table{
   padding-left: 50px;
   padding-right: 50px;
}

.archive-table-header {
   font-family: 'Space Mono', monospace;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 12px;
   padding-left: 50px;
   padding-right: 50px;
}

.archive-table-title {
   font-family: 'Arimo', Helvetica, Arial, sans-serif;
   font-size: 20px;
   font-weight: 700;
}

.archive-table-row{
   font-family: 'Arimo', Helvetica, Arial, sans-serif;
   font-size: 16px;
   border-top: 1px lightgrey solid;
   padding: 15px 50px 15px 50px;
   width: auto;
   line-height: 20px;
   display: flex;

}

.archive-table-row:hover{
   background: lightgrey;
}

.home-table{
   padding-left: 50px;
   padding-right: 50px;
   width: 100%;



}

.home-table-row{
   font-family: 'Space Mono', monospace;
   font-size: 13px;
   border-top: 1px lightgrey solid;
   padding: 12px 50px 12px 50px;
   width: auto;
   line-height: 20px;
   display: flex;
}

.home-table-row:hover{
   background: lightgrey;
}

.table thead th {
   padding-left: 0px;
}

.table td {
   padding-left: 0px;
}

.home-table-title{
   font-family: 'Arimo', Helvetica, Arial, sans-serif;
   font-size: 26px;
   font-weight: 700;
   line-height: 30px;
}

.filter-group {
   margin-left: 50px;
   margin-top: 20px;
   margin-bottom: 30px;
}

.filter-button {
   font-family: 'Space Mono', monospace;
   text-transform: uppercase;
   font-size: 12px;
   margin-right: 5px;
   border-radius: 5px;
   border: 1px #999999 solid;
}

.filter-button:hover {
   background: lightgrey;
   border-color: lightgrey;
   color: black;
}

.filter-button:active{
   background: lightgrey !important;
   color: black !important;
   box-shadow: none !important;
   border-color: lightgrey !important;
}

.filter-button:focus {
   box-shadow: none;
}

.footer{
   padding-left: 50px;
   border-top: 1px #999999 solid;
   padding-top: 15px;
   margin-top: -15px;
}
